@import "normalize.css";
@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
background-color: var(--piccolo);
}

li {
  list-style-type: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
